@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: "Josefin Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: no-repeat url("../public/images/bg-desktop-light.jpg");
  background-position: top;
  transition: all 0.5s;
  background-position: center top;
  background-size: contain;
}
.dark-mode {
  background: no-repeat  url("../public/images/bg-desktop-dark.jpg");
  background-size: contain;
}
.bg-checked {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
.border-checked {
  border: none;
}
.secondCard {
  display: none;
}
@media (max-width: 1280px) {
  html {
    font-size: 1.1rem;
  }
}
@media (max-width: 1230px) {
  .firstCard .mainBTN {
    display: none;
  }
  .secondCard {
    display: block;
  }
  .secondCard .notMain {
    display: none;
  }
  .secondCard .mainBTN {
    margin: 0 auto;
  }
}
@media (max-width:900px) {
  .main {
    width: 70%;
  }
}
@media (max-width:500px) {
  html {
    font-size: 90%;
  }
  .main {
    width: 80%;
  
  }

}